<html xml:lang="id" lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta
      name="description"
      content="Kribit never gonna make you cry never gonna say goodbye"
    />
    <meta
      name="keywords"
      content="never, gonna, give, you, up, never gonna, let, you down, never gonna run, around, and, desert you, Kribit"
    />
    <title>U DID A NO NO</title>
    <link
      href="/assets/img/Rick_Face.ico"
      rel="shortcut icon"
    />
    <meta
      name="google-site-verification"
      content="u42o_IelsOFHcDyUCJjL4839J4iJDGcjH3fkTmNGZvU"
    />
    <link
      href="https://mika.mikroskil.ac.id/css/472b19c.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://mika.mikroskil.ac.id/bundles/mikroskilglobal/css/bootstrap.min.css"
    />
    <link rel="stylesheet/less" href="/css/404.less" />
    <style type="text/css" id="less:bundles-mikaglobal-less-maintenance-style">
      @font-face {
        font-family: "font1";
        src: url("https://mika.mikroskil.ac.id/bundles/mikaglobal/fonts/Dosis/Dosis-ExtraBold.ttf");
      }
      @font-face {
        font-family: "font2";
        src: url("https://mika.mikroskil.ac.id/bundles/mikaglobal/fonts/Noto_Sans_TC/NotoSansTC-Regular.otf");
      }
      @font-face {
        font-family: "font3";
        src: url("https://mika.mikroskil.ac.id/bundles/mikaglobal/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
      }
      body {
        padding: 0;
        font-size: 15px;
        color: #23343d;
        font-family: "font2";
        background: #1488cc;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #2b32b2, #1488cc);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #2b32b2, #1488cc);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      .content-x .brand .lst {
        min-height: 40px;
        opacity: 0.3;
        z-index: 0;
      }
      .content-x .brand .logo {
        margin: -25px 5%;
        padding: 17px 10px;
        background: #fff;
        width: 250px;
        z-index: 1;
        box-shadow: 7px 8px #3c43c3;
      }
      .content-x .brand .logo img {
        width: 225px;
      }
      .content-x .error-page {
        min-height: 575px;
      }
      .content-x .error-page .error-ctn {
        min-height: 500px;
        width: 75%;
        margin: 50px auto;
        background: #1488cc;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #2b32b2, #1488cc);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #2b32b2, #1488cc);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 50px;
      }
      .content-x .error-page .error-ctn .text {
        padding: 20px;
        text-align: center;
      }
      .content-x .error-page .error-ctn .text .lg {
        font-size: 10em;
        font-family: "font1";
        color: #fff;
        margin-bottom: -50px;
      }
      .content-x .error-page .error-ctn .text h1 {
        font-size: 2em;
        padding-left: 20px;
        color: #f1c40f;
        font-family: "font3";
      }
      .content-x .error-page .error-ctn .text p {
        color: #fff;
      }
      .content-x .error-page .error-ctn .text .btn-default {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 5px 20px;
        opacity: 1;
      }
      .content-x .error-page .error-ctn .text .btn-default:hover {
        opacity: 0.7;
      }
      .content-x .error-page .error-ctn .msmika {
        text-align: center;
      }
      .content-x .error-page .error-ctn .msmika img {
        width: 350px;
      }
      .content-x .error-page .error-ctn .icon {
        text-align: center;
      }
      .content-x .error-page .error-ctn .icon img {
        width: 350px;
      }
      .content-x .maintenance .img-m img {
        width: 375px;
      }
      .content-x .maintenance .img-mika img {
        width: 400px;
        margin-top: -25px;
      }
      .content-x .maintenance .text-m {
        padding: 40px 20px;
      }
      .content-x .maintenance .text-m h1 {
        font-size: 2em;
        color: #f1c40f;
        font-family: "font3";
      }
      .content-x .maintenance .text-m p {
        color: #fff;
      }
      .content-x .maintenance .text-m .btn-default {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 5px 30px;
        padding-bottom: 7px;
        opacity: 1;
      }
      .content-x .maintenance .text-m .btn-default i {
        margin-right: 5px;
      }
      .content-x .maintenance .text-m .btn-default:hover {
        opacity: 0.7;
      }
      .footer-content {
        font-size: 13px;
        color: #fff;
      }
      @media only screen and (max-width: 1200px) {
        .content-x .brand .lst {
          min-height: 30px;
        }
        .content-x .brand .logo {
          margin: -25px 5%;
          padding: 15px 10px;
          width: 235px;
          box-shadow: 4px 5px #3c43c3;
        }
        .content-x .brand .logo img {
          width: 200px;
        }
        .content-x .error-page {
          min-height: 450px;
        }
        .content-x .error-page .error-ctn {
          min-height: 400px;
          width: 95%;
          margin: 40px auto;
          padding: 0;
        }
        .content-x .error-page .error-ctn .text {
          padding: 0px;
        }
        .content-x .error-page .error-ctn .text .lg {
          font-size: 9em;
          margin-bottom: -25px;
        }
        .content-x .error-page .error-ctn .text h1 {
          font-size: 1.5em;
          padding-left: 10px;
        }
        .content-x .error-page .error-ctn .text .btn-default {
          border-radius: 20px;
          padding: 5px 15px;
          font-size: 13px;
        }
        .content-x .error-page .error-ctn .msmika {
          text-align: center;
        }
        .content-x .error-page .error-ctn .msmika img {
          width: 350px;
        }
        .content-x .error-page .error-ctn .icon {
          text-align: center;
          padding: 0;
        }
        .content-x .error-page .error-ctn .icon img {
          width: 250px;
        }
        .content-x .maintenance {
          padding: 20px;
        }
        .content-x .maintenance .img-m {
          padding: 10px;
        }
        .content-x .maintenance .img-m img {
          width: 300px;
        }
        .content-x .maintenance .text-m {
          padding: 50px 20px;
        }
        .content-x .maintenance .text-m h1 {
          font-size: 1.5em;
        }
        .content-x .maintenance .text-m p {
          font-size: 14px;
          text-align: justify;
        }
        .content-x .maintenance .text-m .btn-home {
          text-align: center;
        }
        .content-x .maintenance .text-m .btn-default {
          margin: 20px auto;
          margin-top: -10px;
          font-size: 13px;
        }
        .footer-content {
          font-size: 12px;
        }
      }
      @media only screen and (max-width: 768px) {
        body {
          font-size: 14px;
        }
        .content-x .brand .lst {
          min-height: 30px;
        }
        .content-x .brand .logo {
          margin: -25px 5%;
          padding: 15px 10px;
          width: 235px;
          box-shadow: 4px 5px #3c43c3;
        }
        .content-x .brand .logo img {
          width: 200px;
        }
        .content-x .error-page {
          min-height: 500px;
        }
        .content-x .error-page .error-ctn {
          width: 95%;
          margin: 40px auto;
          padding: 0;
        }
        .content-x .error-page .error-ctn .text {
          padding: 0px;
        }
        .content-x .error-page .error-ctn .text .lg {
          font-size: 7em;
          margin-bottom: -20px;
        }
        .content-x .error-page .error-ctn .text h1 {
          font-size: 1.2em;
          padding-left: 10px;
        }
        .content-x .error-page .error-ctn .text .btn-default {
          border-radius: 20px;
          padding: 5px 15px;
          font-size: 13px;
        }
        .content-x .error-page .error-ctn .msmika {
          text-align: center;
          padding: 20px 0;
        }
        .content-x .error-page .error-ctn .msmika img {
          width: 200px;
        }
        .content-x .maintenance .img-m {
          text-align: center;
          padding: 15px 0;
        }
        .content-x .maintenance .img-m img {
          width: 225px;
        }
        .content-x .maintenance .text-m {
          padding: 0px 5px;
        }
        .content-x .maintenance .text-m h1 {
          font-size: 1.3em;
          color: #f1c40f;
          text-align: justify;
        }
        .content-x .maintenance .text-m p {
          font-size: 13px;
          text-align: justify;
        }
        .content-x .maintenance .text-m .btn-home {
          text-align: center;
        }
        .content-x .maintenance .text-m .btn-default {
          margin: 20px auto;
          margin-top: -15px;
          font-size: 13px;
        }
        .footer-content {
          font-size: 12px;
        }
      }
    </style>
    <script src="https://mika.mikroskil.ac.id/bundles/mikroskilglobal/js/jquery.min.js"></script>
    <script src="https://mika.mikroskil.ac.id/bundles/mikroskilglobal/js/googlestation/popper.min.js"></script>
    <script src="https://mika.mikroskil.ac.id/bundles/mikroskilglobal/js/bootstrap.min.js"></script>
    <script
      src="https://mika.mikroskil.ac.id/bundles/mikroskilglobal/js/googlestation/less.js"
      type="text/javascript"
    ></script>
    <link
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://mika.mikroskil.ac.id/bundles/mikaglobal/css/font-awesome/css/font-awesome.min.css"
    />
    <script src="https://mika.mikroskil.ac.id/bundles/mikroskilglobal/js/html5shiv/html5shiv.js"></script>
  </head>

  <body>
    <div class="content-x">
      <div class="brand">
        <div class="lst"></div>
        <div class="logo">
          <img
            src="/assets/img/Rick_Face.ico"
            alt="KRIIIIIIIIIIIIIIII"
          />
        </div>
      </div>
      <div class="error-page">
        <div class="row error-ctn">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="text">
              <div class="lg">4 0 4</div>
              <h1>PAGE NOT FOUND</h1>
              <p>Maaf, halaman yang kamu cari tidak dapat ditemukan.</p>
              <div class="btn-home">
                <a href="/home" class="btn btn-default"> Halaman Utama</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="icon">
              <img
                src="https://mika.mikroskil.ac.id/bundles/mikaglobal/images/Oops.png"
                alt="404"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content">
      <p align="center">Copyright © 2023 UNIVERSITAS MIKROSKIL</p>
      <p align="center">Kribit</p>
    </div>
  </body>
</html>
